/* Main layout */

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

/* List view */
/* Utiliza CSS Flexbox para administrar el diseño */
.list-view .content {
    display: flex; 
}

/* Distribuye view */
.distribuye-view .content {
    display: flex; 
}

.juego-view .content {
    display: flex; 
    
}

/* Asigna 2/3 del ancho disponible al grid */
.list-view .contact-grid {
    flex: 2;
}

/* Asigna 2/3 del ancho disponible al grid */
.distribuye-view .contact-grid {
    flex: 2;
}

.juego-view .contact-grid {
    flex: 2;
    
}

/* Asigna 1/3 del ancho disponible al formulario */
.list-view .contact-form {
    flex: 1;
    padding: var(--lumo-space-m);  
    /* Utiliza la propiedad de tema personalizado Vaadin Lumo para agregar relleno estándar en la forma */
}

/* Asigna 1/3 del ancho disponible al formulario */
.distribuye-view .contact-form {
    flex: 1;
    padding: var(--lumo-space-m);  
    /* Utiliza la propiedad de tema personalizado Vaadin Lumo para agregar relleno estándar en la forma */
}

.juego-view .contact-form {
    flex: 1;
    padding: var(--lumo-space-m);  
    /* Utiliza la propiedad de tema personalizado Vaadin Lumo para agregar relleno estándar en la forma */
}

/* Dashboard view */
.dashboard-view .contact-stats {
    font-size: 4em;
    margin: 1em 0;
}


/* Oculta la barra de herramientas y al grid al editar en pantallas estrechas */
@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
    }
    .distribuye-view.editing .toolbar,
    .distribuye-view.editing .contact-grid {
        display: none;
    }
    .juego-view.editing .toolbar,
    .juego-view.editing .contact-grid {
        display: none;
    }
}

/* Visualización de una cortina modal */
.v-loading-indicator {
  position: fixed; /* Occupy whole screen even if scrolled */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Eat mouse events when visible, doesn't prevent scrolling */
  pointer-events: auto;
  /* Animated with delay to prevent flashing */
  animation: fadein 0.3s ease-out 0.2s normal 1 both;
  z-index: 2147483647;
}
@keyframes fadein {
  0% {
    background: rgba(0,0,0,0);
  }
  100% {
    background: rgba(0,0,0,.5); /* Darkens the UI */
  }
}